body {
  background-color: #ffffff;
}

.game-area {
  width: 800px;
  height: 600px;
  margin: auto;
  border: solid #000000;
  background-color: #ffffff;
}

.blocks-and-racket-area {
  position: absolute;
  z-index: 1
}

.top {
height: 65px;
}

.blocks-w {
  z-index: 1;
  height: 30px;
  background-color: black;
}

.blocks-h {
  width: 98px;
  height: 30px;
  border: 1px solid #ffffff;
  float: left;
  background-color: red;
}

.space {
  height: 325px;
}

.racket {
  width: 126px;
  height: 15px;
  background-color: black;
  margin-left: 337px;
}

.ball-area {
  position: absolute;
  z-index: 2;
}


.ball {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: blue;
  margin-top: 520px;
  margin-left: 390px;
}

.control-area {
  width: 800px;
  margin: auto;
  text-align: center;
}