body {
  background-color: #ffffff;
}

.game-area {
  width: 800px;
  height: 600px;
  margin: auto;
  border: solid #000000;
  background-color: #ffffff;
}

.top {
height: 65px;
}

.brocks-w {
  height: 30px;
  background-color: black;
}

.brocks-h {
  width: 98px;
  height: 30px;
  border: 1px solid #ffffff;
  float: left;
  background-color: red;
}